---
layout: default
---
<div class="welcome">
	<img class="album-art" src="/assets/logoV1.1.png" alt="Brain Gravy with Ryan Heckman">
	<h2 class="welcome__text">Stand up comedian Ryan Heckman discusses everthing and anything with reoccurring co-host and guest.</h2>
	<p class="welcome__hosts">Hosted by <a href="{{ site.ryan_url }}">Ryan Heckman</a> </p>
</div>
{% include listen-box.html %}

<ul class="episode-list">
<h2 style="width: 100%; text-align: center; font-weight: 500;">Episodes</h2>
{% for episode in site.categories.episodes %}
	{% if episode.layout == "episode" %}
		<li class="episode-list__li" style="background-image: url('{{episode.promo}}');"><a class="episode-list__link" href="{{ episode.url }}"></a></li>
	{% endif %}
{% endfor %}	
</ul>
