<div class="listen-box">
	{% if page.url != "/" %}
	<h2 style="width: 100%;">How To Listen</h2>
	<a class="btn btn--download" href="{{page.file}}"><i class="material-icons">file_download</i>Download</a>
	{% else %}
	<h2 id="how" style="width: 100%;">How To Subscribe</h2>
	{% endif %}
	<a class="btn btn--rss" href="/podcast.rss"><i class="material-icons">rss_feed</i>RSS</a>
	<a class="btn btn--itunes" href="https://itunes.apple.com/us/podcast/why-do-you-care-!/id1071704530?mt=2"><i><img style="position: relative; top: -1px; width: 18px;" src="/assets/apple-logo.svg" alt="iTunes"></i>&nbsp;<span style="text-transform: lowercase;">i</span>Tunes</a>
	<a class="btn btn--google" href="https://play.google.com/music/m/Iujmidz6xmr7avdr3rm35ophf2q?t=Why_Do_You_Care"><i class="material-icons">music_note</i>Google Play</a>			
	<p style="width: 100%; margin: 0; margin-top: 20px; font-size: 16px; text-align: center;">Or search for <strong>Why Do You Care?!</strong> in your <a href="https://overcast.fm/">favorite podcast app</a>.</p>
</div>